{#include pub/layout/base}
    <div class="flex justify-between px-4">
        <h1>Liste {title}</h1>
        <button class="btn btn-sm btn-neutral" hx-get="{pageInsertAppel}" hx-target="#main-content" hx-swap="innerHTML" hx-select="#main-content > *">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Ajouter
        </button>
    </div>

    <div class="overflow-x-auto mt-4">
        <table class="table table-zebra">
            <thead>
            <tr>
                {#for header in data.headers}
                    <th>{header}</th>
                {/for}
            </tr>
            </thead>
            <tbody>
            {#for rows in data.rows}
                <tr>
                    {#for row in rows}
                        {#if row_isFirst}
                            <th><a class="link" href="{pageDetailAppel}/{row}">{row}</a></th>
                        {#else}
                            <th>{row}</th>
                        {/if}
                    {/for}
                </tr>
            {/for}
            </tbody>
        </table>
    </div>
{/include}