{#include pub/layout/base}
    <div class="flex justify-center">
        <fieldset class="fieldset bg-base-200 border-base-200 rounded-box w-lg border p-4" >
            <legend class="fieldset-legend">{id}</legend>
            <table class="table">
                <tbody>
                    {#for header in data.headers}
                        <tr>
                            <th>{header}</th>
                            <td>{data.rows.get(header_index)}</td>
                        </tr>
                    {/for}

                </tbody>
            </table>

            <div class="text-end mt-6">
                <button class="btn btn-sm btn-warning">Modifier</button>
                <button class="btn btn-sm btn-error">Supprimer</button>
            </div>
        </fieldset>
    </div>
{/include}